body {
	margin-top: 0px;
}
body,td,th {
	font-family: ו;
	font-size: 12px;
}
form {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.style2 {
	color:#333;
}
.box1 {
	width:250px;
	height:20px;
}
/*.box2 {
	width:250px;
	height:90px;
}*/
.box2 {
	width:500px;
	height:300px;
}
.noshow{ 
	display:none;
	}
a:link{   
	color:#333;
   	text-decoration:   none;   
   }   
a:visited{   
	color: #333;
	text-decoration:none;    
	}   
a:active{ 
	color: #333;
	text-decoration:   none;  
	   }   
a:hover{   
	color:#ff3300;
   	text-decoration:none; 
   }   

a.left1:link{   
	color:#2160c1;
 	font-weight:bolder;
   	text-decoration:none;  
   	}   
a.left1:visited{ 
	color:   #2160c1; 
	font-weight:bolder;
	text-decoration:none;   
	 }   
a.left1:active{ 
	color:   #2160c1;
	font-weight:bolder;
	text-decoration:none;
	    }   
a.left1:hover{ 
	color:#ff3300;
	font-weight:bolder;
	text-decoration:none; 
	   }










  